aside{
    width: 192px;
    min-height: 400px;
    border: red solid 1px;
    margin: 0 auto;
}

h1{
    font-family: sans-serif;
    font-size: medium;
    margin-top: 11px;
    padding-left: 10px;
}

p{
    margin: 0 6px;
    padding: 0;
    font-size: smaller;
}

img{
    margin: 16px 6px 0 6px;
}

.pic-caption{
    text-align: left;
    font-family: sans-serif;
    font-size: xx-small;
    padding: 0 20px;
}